$base-px: 4px * 2;

$primary-color: #145EBB;
$blue: #1181d6;
$white: #fff;
$red: #EE2324;
$black: #000;
$grey: grey;
$yellow: #FFF102;
$green: #00A751;
$bg-grey: #f5f5f5;

$text-yellow: #D5CB13;
$text-black: #333;
$text-888: #888;